---
import { Picture } from '@astrojs/image/components';
import Global from '@layouts/Global.astro';
import Map from '@components/Map/index.svelte';
import { CollectionEntry, getCollection, getEntryBySlug } from 'astro:content';
import { camelCaseString } from '@util/funcs';
import cssVars from '@styles/_jsalias.module.scss';
import type { AstroComponentFactory } from 'astro/dist/runtime/server';
import type {
	slimCanals,
	canalContentDOMId,
	canalPictureDOMId,
	ImageImport,
} from '@util/types';
export type Props = Record<string, never>;

const metaEntry = await getEntryBySlug('meta', 'site');
const { shortTitle, canalsMapTitle, mapDescription } = metaEntry.data;

const canals = await getCollection('canals');

const slimmedCanals: slimCanals = canals.map((canal) => {
	return {
		x: canal.data.x,
		y: canal.data.y,
		width: canal.data.width,
		height: canal.data.height,
		scale: canal.data.scale,
		stroke: canal.data.stroke,
		path: canal.data.path,
		name: canal.data.name,
		pathYAdjust: canal.data.pathYAdjust,
	};
});
const canalEntries: Array<{
	Content: AstroComponentFactory;
	image: string;
	name: string;
	camelCaseName: string;
}> = [];

const canalImages: Array<ImageImport> = await Astro.glob(
	'../assets/canals/*.jpg'
);

for (let i = 0; i < canals.length; i++) {
	const canal = canals[i] as CollectionEntry<'canals'>;
	const { Content } = await canal.render();
	const camelCaseName = camelCaseString(canal.data.name);
	const canalImage = canalImages.find((image) => {
		return image.default.src.includes(camelCaseName);
	});

	if (canalImage) {
		canalEntries.push({
			Content,
			image: canalImage.default.src,
			name: canal.data.name,
			camelCaseName,
		});
	}
}

const mediaLargeWidth = parseInt(cssVars.mediaDesktop, 10) + 1;
const mediaDesktopWidth = parseInt(cssVars.mediaDesktop, 10) + 1;
const mediaTabletWidth = parseInt(cssVars.mediaTablet, 10) + 1;
const canalImageSizes =
	`(min-width: ${mediaLargeWidth}) 40vw, ` +
	`(min-width: ${mediaDesktopWidth}) 45vw, ` +
	`(min-width: ${mediaTabletWidth}) 90vw, ` +
	'95vw';
---

<Global
	title={`${shortTitle} | ${canalsMapTitle}`}
	description={mapDescription}
>
	<Map canals={slimmedCanals} client:load />
	{
		canalEntries.map(({ Content, image, name, camelCaseName }) => {
			const contentID: canalContentDOMId = `canal_${camelCaseName}`;
			const pictureID: canalPictureDOMId = `canal_${camelCaseName}_image`;
			return (
				<>
					<div id={contentID} class="canal-content">
						<Content />
					</div>
					<div id={pictureID} class="canal-content">
						<Picture
							src={image}
							widths={[300, 600, 900]}
							sizes={canalImageSizes}
							aspectRatio="1:1"
							quality={75}
							alt={name}
							fit="cover"
							position="center"
						/>
					</div>
				</>
			) as HTMLElement;
		})
	}
</Global>

<style lang="scss">
	body {
		background: v.$color-map-bg;
	}

	.canal-content {
		display: none;
	}
</style>
