---
import type { CollectionEntry } from 'astro:content';
import Cover from '@components/Cover/index.astro';
import PurchaseButton from '@components/Purchase/Button.astro';
import Review from '@components/Review/index.astro';
import MapLink from '@components/MapLink/index.astro';
import Endorsement from '@components/Endorsement/index.astro';
export interface Props {
	availableText: string;
	bookInfo: CollectionEntry<'pages'>;
	reviewItems: Array<CollectionEntry<'reviews'>>;
	endorsementItems: Array<CollectionEntry<'endorsements'>>;
	footerItems: Array<CollectionEntry<'syndication'>>;
}

const { availableText, bookInfo, reviewItems, endorsementItems, footerItems } =
	Astro.props;

const { Content: BookInfo } = await bookInfo.render();

const infoColumnWidth = 13;
const coverColumnWidth = 10;
const overviewSideMargin = 12;
const overviewGridGap = 8;

const coverSizes = `calc(${
	(coverColumnWidth / (infoColumnWidth + coverColumnWidth)) * 100
}vw - ${overviewGridGap / 2 + overviewSideMargin}rem)`;
---

<section>
	<div class="bookinfo-container">
		<Cover sizes={coverSizes} />
		<article class="bookinfo-text">
			<BookInfo />
			<div class="purchase-container">
				<PurchaseButton
					iconPack="mdi"
					icon="cart"
					text={availableText}
				/>
			</div>
		</article>
	</div>
</section>
<section>
	<div class="reviews-container">
		{reviewItems.map((review) => <Review review={review} />)}
	</div>
</section>
<section class="maplink-container">
	<MapLink />
</section>
<section class="endorsement-container">
	{
		endorsementItems.map((endorsement) => (
			<Endorsement endorsement={endorsement} />
		))
	}
</section>
<footer>
	<div class="footer-container">
		<ul class="syndication-links">
			{
				footerItems.map(({ data: item }) => (
					<li>
						<a href={item.link}>{item.title}</a>
					</li>
				))
			}
		</ul>
		<p class="copyright">Copyright © 2023 by Martin Hutchinson</p>
	</div>
</footer>
<style
	lang="scss"
	define:vars={{
		infoColumnWidth: `${infoColumnWidth}fr`,
		coverColumnWidth: `${coverColumnWidth}fr`,
		overviewSideMargin: `${overviewSideMargin}rem`,
		overviewGridGap: `${overviewGridGap}rem`,
	}}
>
	section,
	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bookinfo-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		margin: 6rem 0;

		@include m.media('>phone') {
			margin: 6rem calc(var(--overviewSideMargin) / 2);
		}

		@include m.media('>desktop') {
			grid-template-columns: var(--coverColumnWidth) var(
					--infoColumnWidth
				);
			gap: calc(var(--overviewGridGap) / 2);
		}

		@include m.media('>xlarge') {
			gap: var(--overviewGridGap);
			margin: 6rem var(--overviewSideMargin);
		}
	}

	.reviews-container {
		display: flex;
		flex-direction: column;
		margin: 4rem var(--overviewSideMargin) 4rem
			calc(var(--overviewSideMargin) + 2rem);
	}

	.maplink-container {
		margin: 1rem var(--overviewSideMargin);
	}

	.endorsement-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto auto;
		grid-auto-flow: column;
		row-gap: 2.5rem;
		column-gap: 10rem;
		align-items: baseline;
		justify-items: center;
		margin: 11rem calc(var(--overviewSideMargin) + 4rem);
	}

	.footer-container {
		margin: 0rem var(--overviewSideMargin);
		text-align: center;
		opacity: 0.6;

		ul {
			padding: 0;
		}
		li {
			list-style: none;
		}
	}

	.bookinfo-text {
		:global(h1) {
			font-size: 3rem;
			margin-bottom: 0;
		}

		:global(h2) {
			font-size: 1.4rem;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: 0.04em;
		}

		:global(h3) {
			font-size: 0.9rem;
			letter-spacing: 0.08em;

			:global(a) {
				text-underline-offset: 0.2em;
			}
		}
		:global(p) {
			text-align: justify;
		}
	}

	.purchase-container {
		display: flex;
		justify-content: right;
		align-items: center;
		margin: 3rem 0;
	}

	.reviewer {
		@include m.parchment-emphasis;
	}

	.review {
		text-align: justify;
	}

	.syndication-links {
		margin-bottom: 2rem;
		line-height: 1.5;
	}

	.copyright {
	}
</style>
