---
import type { CollectionEntry } from 'astro:content';
import { Picture } from '@astrojs/image/components';
import cover from './forging_modernity_cover.jpg';

export interface Props {
	bookInfo: CollectionEntry<'pages'>;
	reviewItems: Array<CollectionEntry<'reviews'>>;
	footerItems: Array<CollectionEntry<'syndication'>>;
}

const { bookInfo, reviewItems, footerItems } = Astro.props;

const { Content: BookInfo } = await bookInfo.render();
---

<section>
	<div class="bookinfo-container">
		<div class="bookinfo-cover-container">
			<Picture
				src={cover}
				alt="Forging Modernity Cover"
				sizes="calc(50vw - 17rem)"
				widths={[400, 800, 1200]}
				format="jpg"
				quality={90}
				fit="cover"
				position="center"
				class="bookinfo-cover"
			/>
		</div>
		<article class="bookinfo-text">
			<BookInfo />
		</article>
	</div>
</section>
<section>
	<div class="reviews-container">
		<h1>Reviews & Endorsements</h1>
		{
			reviewItems.map(({ data: item, body: review }) => (
				<>
					<p class="review">{review}</p>
					<p class="reviewer">
						<strong>{item.name}</strong>
					</p>
				</>
			))
		}
	</div>
</section>
<section>
	<div class="footer-container">
		<ul class="para-text">
			{
				footerItems.map(({ data: item }) => (
					<li>
						<a href={item.link}>{item.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</section>
<style lang="scss">
	section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bookinfo-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10rem;
		margin: 5rem 12rem;
	}

	.reviews-container {
		display: flex;
		flex-direction: column;
		margin: 5rem 12rem;
	}

	.footer-container {
		margin: 5rem 12rem;
		li {
			list-style: none;
		}
	}

	.bookinfo-text {
		:global(h1) {
			font-size: 3rem;
			margin-bottom: 0;
		}

		:global(h2) {
			font-size: 1.4rem;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: 0.04em;
		}

		:global(h3) {
			font-size: 1rem;
			letter-spacing: 0.06em;

			:global(a) {
				text-underline-offset: 0.2em;
			}
		}
		:global(p) {
			text-align: justify;
		}
	}

	.bookinfo-cover-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.reviewer {
		@include m.parchment-emphasis;
	}

	.review {
		text-align: justify;
	}
</style>
