---
import type { CollectionEntry } from 'astro:content';
import { Image } from '@astrojs/image/components';
import cover from './forging_modernity_cover.jpg';

export interface Props {
	bookInfo: CollectionEntry<'pages'>;
	reviewItems: Array<CollectionEntry<'reviews'>>;
	footerItems: Array<CollectionEntry<'syndication'>>;
}

const { bookInfo, reviewItems, footerItems } = Astro.props;

const { Content: BookInfo } = await bookInfo.render();
---

<section>
	<div class="bookinfo-container">
		<div>
			<Image src={cover} alt="Forging Modernity Cover" width={400} />
		</div>
		<div class="bookinfo-text">
			<BookInfo />
		</div>
	</div>
</section>
<section>
	<div class="reviews-container">
		<h1>Reviews & Endorsements</h1>
		{
			reviewItems.map(({ data: item, body: review }) => (
				<>
					<p>{review}</p>
					<p class="reviewer">
						<strong>{item.name}</strong>
					</p>
				</>
			))
		}
	</div>
</section>
<section>
	<p class="footer-container">
		{
			footerItems.map(({ data: item }) => (
				<li>
					<a href={item.link}>{item.title}</a>
				</li>
			))
		}
	</p>
</section>
<style lang="scss">
	section {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.bookinfo-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 10rem;
		margin: 5rem 12rem;
	}

	.reviews-container {
		display: flex;
		flex-direction: column;
		margin: 5rem 12rem;
	}

	.bookinfo-text {
		:global(h1) {
			font-size: 3rem;
			margin-bottom: 0;
		}

		:global(h2) {
			font-size: 1.4rem;
			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: 0.04em;
		}

		:global(h3) {
			font-size: 1rem;
			letter-spacing: 0.06em;

			:global(a) {
				color: black;
				text-underline-offset: 0.2em;

				&:hover {
				}
			}
		}
		:global(p) {
			text-align: justify;
		}
	}

	.reviewer {
		@include m.parchment-emphasis;
	}
</style>
