---
import { Picture } from 'astro:assets';
import type { ImageImport } from '@util/types';

export interface Props {
	name: string;
	url: string;
	image: string;
	sizes: string;
}

const { name, url, image, sizes } = Astro.props;
const retailerImage = (await import(
	`../../assets/retailers/${image.replace(/\.[^/.]+$/, '')}.png`
)) as ImageImport;
---

<a href={url} class="retailer-link" title={name}>
	<Picture
		src={retailerImage.default}
		alt={name}
		sizes={sizes}
		widths={[100, 150, 200]}
		class="retailer-image"
	/>
</a>
<style lang="scss">
	@use 'src/styles/_variables.scss' as v;
	@use 'src/styles/_mixins.scss' as m;

	.retailer-link {
		width: stretch;
		padding: 1rem;
		border: 1px solid v.$color-button;
		box-shadow: 0 0 2px 1px v.$color-shadow;
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1/1;
		transition: box-shadow v.$transition-speed-fast v.$transition-timing;
		border-radius: v.$border-radius;

		@include m.media('>phone') {
			padding: 1.5rem;
		}

		@include m.media('>tablet') {
			padding: 2rem;
		}

		&:hover {
			box-shadow:
				0 0 2px 1px v.$color-shadow,
				0 0 5px v.$color-shadow;
		}
	}

	.retailer-image {
		mix-blend-mode: multiply;
		max-width: 100%;
		height: auto;
	}
</style>
